{% extends './layout.html' %}
{% block content %}
<div class='row'>
      <div class='col-md-8'>
            <div id='map-canvas'></div>
      </div>

      <div class='col-md-4'>
            <div class='panel panel-default'>
                  <div class='panel-body'>

                              <div class='form-group'>
                                    <h4>Hotels</h4>

                                          <select  id='hotels' class='drop input-sm'>
                                                {% for hotel in hotels%}

                                                      <option>{{hotel.name}}</option>

                                                {% endfor %}
                                          </select>
                                          <button class='btn btn-default btn-sm btn-circle btn-add pull-right'>+</button>

                              </div>

                              <div class='form-group'>
                                    <h4>Restaurants</h4>
                                    <select class='drop input-sm'>
                                          {% for restaurant in restaurants%}

                                                <option>{{restaurant.name}}</option>

                                          {% endfor %}
                                    </select>
                                    <div class='btn btn-default btn-sm btn-circle btn-add pull-right'><div>+</div></div>
                              </div>
                              <div class='form-group'>
                                    <h4>Activities</h4>
                                    <select class='drop input-sm'>
                                          {% for act in activities%}

                                                <option>{{act.name}}</option>

                                          {% endfor %}
                                    </select>
                                    <button class='btn btn-default btn-sm btn-circle btn-add pull-right'>+</button>
                              </div>

                  </div>
            </div>
            <div class='panel panel-default'>
                        <div class='panel-body'>
                  <h3>Day 1</h3>
                  <button class='btn btn-danger btn-sm btn-circle pull-right'>x</button>
                        </div>
            </div>
            <div class='panel panel-default'>
                  <div class='panel-heading'>
                        <div class='btn btn-circle btn-day'><span>1</span></div>
                        <div class='btn btn-circle btn-day'><span>2</span></div>
                        <div class='btn btn-circle btn-day'><span>3</span></div>
                        <div class='btn btn-circle btn-day'><span>+</span></div>
                  </div>
                  <div class='panel-body'>
                        <div>
                              <h4>My Hotel</h4>
                              <p>Some Text</p><button class='btn btn-danger btn-sm btn-circle  pull-right'>x</button>
                        </div>
                        <div>
                              <h4>My Restaurants</h4>
                              <button class='btn btn-danger btn-sm btn-circle pull-right'>x</button>
                        </div>
                        <div>
                              <h4>My Activites</h4>
                              <button class='btn btn-danger btn-sm btn-circle pull-right'>x</button>
                        </div>
                  </div>

            </div>
      </div>
</div>
{% endblock %}
